{
  "arrowParens": "always",
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "useTabs": true,
        "bracketSpacing": false,
        "explicitTypes": "always",
        "indent": "off"
      }
    }
  ]
}